body {
  width: 300px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  background-color: beige; /* Hintergrundfarbe des gesamten Popups */
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige; /* Optional, falls du nur den Inhalt ändern möchtest */
}

#popup-canvas {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
  background-color: beige; /* Hintergrundfarbe des Canvas-Elements */
}
